    .global-color{ -fx-background-color:
#1565C0;
    }.label-class{-fx-text-fill:
#FFFFFF;
    }.button{-fx-background-color:
#2196F3;
    -fx-background-radius: 15 }.button .label{-fx-text-fill:
#FFFFFF;
    -fx-alignment: center;}.button:hover{-fx-background-color:
#1976D2;
    }.button:hover .label{-fx-text-fill:
#CCCCCC;
    }.menu-button{-fx-background-color:
#2196F3;
    -fx-border-color: transparent;-fx-background-radius: 15;}.menu-button:hover {-fx-background-color:
#1976D2;
    }.menu-button .label{-fx-text-fill:
#FFFFFF;
    }.menu-button:hover .label{-fx-text-fill:
#CCCCCC;
    }.hbox-info{-fx-background-color:
#124280;
    }.hbox-info-button .label-class{-fx-text-fill:
#FFFFFF;
    }.hbox-info-button .icon{-fx-text-fill:
#FFFFFF;
    }.hbox-info-button:hover{-fx-background-color:
#1976D2;
   -fx-background-radius: 10;}.hbox-info-button:hover .label-class{-fx-text-fill:
#CCCCCC;
    }.hbox-info-button:hover .icon{-fx-text-fill:
#CCCCCC;
    }.context-menu {-fx-border-radius: 10; -fx-background-radius: 15; -fx-background-color:
#1565C0;
    -fx-border-color:
#707070;
    }.menu-button .menu-item {-fx-background-color: transparent;}.menu-button .menu-item:hover {-fx-background-color:
#1976D2;
    -fx-background-radius: 15;}.menu-button .menu-item .label{-fx-text-fill:
#FFFFFF;
    }.menu-button .menu-item:hover .label{-fx-text-fill:
#CCCCCC;
    }.menu-button .bgnull{-fx-background-color: transparent;}.menu-button .menu-item:hover .bgnull{-fx-background-color:
#1976D2;
    -fx-background-radius: 10;}.menu-button .menu-item:hover .bgnull .jfx-toggle-button{-fx-text-fill:
#CCCCCC;
    }.jfx-toggle-button {-fx-text-fill:
#FFFFFF;
    -jfx-untoggle-color:
#1565C0;
    -jfx-untoggle-line-color:
#EEEEEE;
    -jfx-toggle-color:
#1E88E5;
    -jfx-toggle-line-color:
#FFD1DC;
    }.jfx-toggle-button:hover {-fx-background-color: transparent;}.sidebar {-fx-background-color:
#124280;
    -fx-background-radius: 10;}.sidebar .label-class {-fx-text-fill:
#FFFFFF;
    }.sidebar .icon {-fx-text-fill:
#FFFFFF;
    }.sidebar-button:hover {-fx-background-color:
#1976D2;
    -fx-background-radius: 10;}.sidebar-button:hover .label-class {-fx-text-fill:
#CCCCCC;
    }.sidebar-button:hover .icon {-fx-text-fill:
#CCCCCC;
    }.date-picker-item .label{-fx-alignment: center;}