    .chart{-fx-background-radius:15;}.label-class, .label, .menu-button .label{-fx-font-size:
16px;
    -fx-text-fill:
#000080;
    }.global-color, .chart-plot-background{ -fx-background-color:
#000080;
    }.button{-fx-background-border: 15;-fx-background-radius: 15;-fx-font-size: 16px;-fx-background-color:
#FF00FF;
    -fx-background-radius: 15 }.button .label{-fx-font-size: 16;-fx-text-fill:
#000080;
    -fx-alignment: center;}.button:hover{-fx-background-color:
#FF00FF;
    }.button:hover .label{-fx-text-fill:
#0000FF;
    }.menu-button{-fx-background-color:
#FF00FF;
    -fx-border-color: transparent;-fx-background-radius: 15;}.menu-button:hover {-fx-background-color:
#FF00FF;
    }.menu-button .label{-fx-text-fill:
#000080;
    }.menu-button:hover .label{-fx-text-fill:
#0000FF;
    }.hbox-info, .chart{-fx-background-color:
#0000FF;
    }.hbox-info-button .label-class{-fx-text-fill:
#000080;
    }.hbox-info-button .icon{-fx-text-fill:
#000080;
    }.hbox-info-button:hover{-fx-background-color:
#FF00FF;
   -fx-background-radius: 10;}.hbox-info-button:hover .label-class{-fx-text-fill:
#0000FF;
    }.hbox-info-button:hover .icon{-fx-text-fill:
#0000FF;
    }.context-menu {-fx-font-size: 14px;-fx-border-radius: 10; -fx-background-radius: 15; -fx-background-color:
#000080;
    -fx-border-color:
#000080;
    }.menu-button .menu-item {-fx-background-color: transparent;-fx-font-size: 14px;}.menu-button .menu-item:hover {-fx-background-color:
#FF00FF;
    -fx-background-radius: 15;}.menu-button .menu-item .label{-fx-text-fill:
#000080;
    }.menu-button .menu-item:hover .label{-fx-text-fill:
#0000FF;
    .sidebar {-fx-background-color:
#124280;
    -fx-background-radius: 10;} .sidebar .label-class { -fx-text-fill:
#FFFFFF;
    }.sidebar .icon {-fx-text-fill:
#000080;
    }.sidebar-button:hover {-fx-background-color:
#FF00FF;
    .sidebar-button:hover .icon {-fx-text-fill:
#CCCCCC;
    }-fx-background-radius: 10;}.sidebar-button:hover .label-class {-fx-text-fill:
#0000FF;
    }.hbox-date-picker .context-menu {-fx-pref-height: 200; -fx-max-height: 300; }