/*
#1F1F1F; // Sfondo secondario (più scuro)
#262626; // Sfondo primario
#333333; // Sfondo di evidenziazione
#4C4C4C; // Pulsante primario
#707070; // Bordo
#CCCCCC; // Testo secondario
#FFFFFF; // Testo primario
*/
/*Colore di background dell'anchorpane*/
.global-color{
     -fx-background-color: #262626; // Sfondo primario
}

/*Colore di base del testo*/
.label-class{
    -fx-text-fill: #FFFFFF; // Testo primario
}

/*Colore di base dei bottoni */
.button{
    -fx-background-color: #4C4C4C; // Pulsante primario
    -fx-text-fill: #FFFFFF; // Testo primario
}

/*Colore di base dei bottoni */
.button:hover{
    -fx-background-color: #333333; // Sfondo di evidenziazione
    -fx-text-fill: #CCCCCC; // Testo secondario
}

/*Barra superiore*/
.hbox-info{
    -fx-background-color: #1F1F1F; // Sfondo secondario
}

/*Etichette dei bottoni*/
.hbox-info-button .label-class{
    -fx-text-fill: #FFFFFF; // Testo primario
}

/*Icone dei bottoni*/
.hbox-info-button .icon{
    -fx-text-fill: #FFFFFF; // Testo primario
}

/*Bottone al passaggio del mouse*/
.hbox-info-button:hover{
   -fx-background-color: #333333; // Sfondo di evidenziazione
   -fx-background-radius: 10;
}

/*Etichette dei bottoni al passaggio del mouse*/
.hbox-info-button:hover .label-class{
    -fx-text-fill: #CCCCCC; // Testo secondario
}

/*Icona dei bottoni al passaggio del mouse*/
.hbox-info-button:hover .icon{
    -fx-text-fill: #CCCCCC; // Testo secondario
}

/*Menu a comparsa*/
.context-menu{
    -fx-background-color: #1F1F1F; // Sfondo secondario (più scuro)
    -fx-background-radius: 10;
    -fx-border-color: #707070; // Bordo
    -fx-border-radius: 10;
}

.menu-button {
    -fx-background-color: transparent;
}

.menu-button .menu-item{
    -fx-background-color: transparent;
}

.menu-button .menu-item:hover{
    -fx-background-color: #333333; // Sfondo di evidenziazione
    -fx-background-radius: 10;
}

.menu-button .menu-item:hover .jfx-toggle-button{
    -fx-text-fill: #CCCCCC; // Testo secondario
}

/*
#666666; // Sfondo del toggle spento
#4C4C4C; // Sfondo del toggle acceso
#EEEEEE; // Colore del cursore del toggle spento
#999999; // Colore del cursore del toggle acceso
*/
.jfx-toggle-button {
    -fx-text-fill: #FFFFFF; // Testo primario
    -jfx-untoggle-color: #666666; // Sfondo del toggle spento
    -jfx-untoggle-line-color: #EEEEEE; // Colore del cursore del toggle spento
    -jfx-toggle-color: #4C4C4C; // Sfondo del toggle acceso
    -jfx-toggle-line-color: #999999; // Colore del cursore del toggle acceso
}

.jfx-toggle-button:hover {
    -fx-background-color: transparent;
}

/*Barra laterale*/
.sidebar{
    -fx-background-color: #1F1F1F; // Sfondo secondario (più scuro)
    -fx-background-radius: 10;
}

/*Etichette dei bottoni*/
.sidebar .label-class{
    -fx-text-fill: #FFFFFF; // Testo primario
}

/*Icone dei bottoni*/
.sidebar .icon{
    -fx-text-fill: #FFFFFF; // Testo primario
}

/*Bottone al passaggio del mouse*/
.sidebar-button:hover{
    -fx-background-color: #333333; // Sfondo di evidenziazione
    -fx-background-radius: 10;
}

/*Etichette dei bottoni al passaggio del mouse*/
.sidebar-button:hover .label-class{
    -fx-text-fill: #CCCCCC; // Testo secondario
}

/*Icona dei bottoni al passaggio del mouse*/
.sidebar-button:hover .icon{
    -fx-text-fill: #CCCCCC; // Testo secondario
}