/* #FF5252; /* Sfondo secondario */
/* #F9A825; /* Sfondo primario */
/* #FF1744; /* Sfondo di evidenziazione */
/* #FF5252; /* Pulsante */
/* #707070; /* Bordo */
/* #CCCCCC; /* Testo secondario */
/* #FFFFFF; /* Testo primario */
/* Colore dell'anchorpane */
.global-color{
    -fx-background-color: #F9A825; /* Sfondo primario */
}
/* Colore di base del testo */
.label-class{
    -fx-text-fill: #FFFFFF; /* Testo primario */
}
/* Colore di base dei bottoni */
.button{
    -fx-background-color: #FF5252; // Pulsante primario vivace
    -fx-text-fill: #FFFFFF; /* Testo primario */
}
/* Colore di base dei bottoni */
.button:hover{
    -fx-background-color: #FF1744; // Sfondo di evidenziazione vivace
    -fx-text-fill: #CCCCCC; /* Testo secondario */
}
/* Barra superiore */
.hbox-info{
    -fx-background-color: #FF5252; /* Sfondo primario */
}
/* Etichette dei bottoni */
.hbox-info-button .label-class{
    -fx-text-fill: #FFFFFF; /* Testo primario */
}
/* Icone dei bottoni */
.hbox-info-button .icon{
    -fx-text-fill: #FFFFFF; /* Testo primario */
}
/* Bottone al passaggio del mouse*/
.hbox-info-button:hover{
   -fx-background-color: #FF1744; // Sfondo di evidenziazione vivace
   -fx-background-radius: 10;
}
/* Etichette dei bottoni al passaggio del mouse*/
.hbox-info-button:hover .label-class{
    -fx-text-fill: #CCCCCC; /* Testo secondario */
}
/* Icona dei bottoni al passaggio del mouse*/
.hbox-info-button:hover .icon{
    -fx-text-fill: #CCCCCC; /* Testo secondario */
}
/* Menu a comparsa */
.context-menu{
    -fx-background-color: #F9A825; /* Sfondo primario */
    -fx-background-radius: 10;
    -fx-border-color: #707070; // Bordo
    -fx-border-radius: 10;
}
/* Menu Button */
.menu-button {
    -fx-background-color: #FF5252; // Pulsante primario vivace
    -fx-background-radius: 10;
}
.menu-button:hover {
    -fx-background-color: #FF1744; // Sfondo di evidenziazione vivace
}
.menu-button .label{
    -fx-text-fill: #FFFFFF; /* Testo primario */
}
.menu-button:hover .label{
    -fx-text-fill: #CCCCCC; /* Testo secondario */
}
/* Menu Item */
.menu-button .menu-item {
    -fx-background-color: transparent; //Il colore giá applicato da context-menu
}
.menu-button .menu-item:hover {
    -fx-background-color: #FF1744; // Sfondo di evidenziazione vivace
    -fx-background-radius: 10;
}
.menu-button .menu-item .label{
    -fx-text-fill: #FFFFFF; /* Testo primario */
}
.menu-button .menu-item:hover .label{
    -fx-text-fill: #CCCCCC; /* Testo secondario */
}
/* Con sfondo trasparente */
.menu-button .bgnull{
    -fx-background-color: transparent;
}
.menu-button .menu-item:hover .bgnull{
    -fx-background-color: #FF1744; // Sfondo di evidenziazione vivace
    -fx-background-radius: 10;
}
.menu-button .menu-item:hover .bgnull .jfx-toggle-button{
    -fx-text-fill: #CCCCCC; /* Testo secondario */
}
/*
#FF5252; // Sfondo del toggle spento
#FFD1DC; // Sfondo del toggle acceso
#EEEEEE; // Colore del cursore del toggle spento
#FFD1DC; // Colore del cursore del toggle acceso
*/
.jfx-toggle-button {
    -fx-text-fill: #FFFFFF; /* Testo primario */
    -jfx-untoggle-color: #FF5252; /* Sfondo del toggle spento */
    -jfx-untoggle-line-color: #EEEEEE; /* Colore del cursore del toggle spento */
    -jfx-toggle-color: #DB5959; /* Sfondo del toggle acceso */
    -jfx-toggle-line-color: #FFD1DC; /* Colore del cursore del toggle acceso */
}
.jfx-toggle-button:hover {
    -fx-background-color: transparent;
}
/*Barra laterale*/
.sidebar{
    -fx-background-color: #FF5252; /* Sfondo secondario */
    -fx-background-radius: 10;
}
/*Etichette dei bottoni*/
.sidebar .label-class{
    -fx-text-fill: #FFFFFF; /* Testo primario */
}
/*Icone dei bottoni*/
.sidebar .icon{
    -fx-text-fill: #FFFFFF; /* Testo primario */
}
/*Bottone al passaggio del mouse*/
.sidebar-button:hover{
    -fx-background-color: #FF1744; /* Sfondo di evidenziazione */
    -fx-background-radius: 10;
}
/*Etichette dei bottoni al passaggio del mouse*/
.sidebar-button:hover .label-class{
    -fx-text-fill: #CCCCCC; /* Testo secondario */
}
/*Icona dei bottoni al passaggio del mouse*/
.sidebar-button:hover .icon{
    -fx-text-fill: #CCCCCC; /* Testo secondario */
}